.layout {
  background-color: white;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  .logoContainer {
    height: 100%;
    width: 150px;
    position: relative;
    &:hover {
      cursor: pointer;
    }
  }
  .logo {
    width: inherit;
    position: absolute;
    top:10%;
    left:0px;
  }
  .navigation {
    position: fixed;
    height: 50px;
    left:0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  // @media screen and (max-width: 600px) {
  //   .logoContainer {
  //     width: 110px;
  //   }
  // }
  // @media screen and (min-width: 1000px) {
  //   .logoContainer {
  //     width: 170px;
  //   }
  // }
}
