.layout {
  flex: 1;
  background-color: white;
  display: flex;
  flex-direction: column;

  .logoContainer {
    width: 20%;
    &:hover {
      cursor: pointer;
    }
  }
  .logo {
    margin-top: 10px;
    width: 100%;
  }
  .navigation {
    height: 8%;
    min-height: 40px;
    max-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
  }
  @media screen and (max-width: 600px) {
    .logoContainer {
      width: 110px;
    }
  }
  @media screen and (min-width: 1000px) {
    .logoContainer {
      width: 200px;
    }
  }
}
